.hero {
    height: 100vh;
    background: linear-gradient(#00000080, #00000080),
        url('https://images.unsplash.com/photo-1552196563-55cd4e45efb3') center/cover;
    color: white;
}

.card-hover:hover {
    transform: translateY(-8px);
    transition: 0.4s;
}

.card-hover {
    transition: transform 0.3s ease;
}

.slider-card {
    max-width: 600px;
    background: white;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.slider-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.testimonial-card {
    max-width: 650px;
    background: #fff;
}

.testimonial-text {
    font-size: 1rem;
    line-height: 1.7;
    color: #555;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.professional-card ul li {
    margin-bottom: 8px;
    font-size: 15px;
    color: #555;
}

.plan-tag {
    padding: 6px 18px;
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    letter-spacing: 0.3px;
    font-size: 14px;
}

.professional-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-in-out;
}

/* Ribbon */
.ribbon {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff9800;
    padding: 6px 18px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 6px;
    transform: rotate(8deg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#plans h2 {
    text-transform: uppercase;
    font-size: 28px;
}